/* Sticky bottom bar */
.sticky-bottom {
    position: absolute;
    bottom: 0;
    background-color: #673ab7;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    color: white;
}
.sticky-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantity {
    display: flex;
    border: 2px solid #3498db;
    border-radius: 4px;
    overflow: hidden;
    width : 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .quantity button {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: auto;
    text-align: center;
    transition: background-color 0.2s;
  }
  
  .quantity button:hover {
    background-color: #2980b9;
  }
  
  .input-box {
    width: 40px;
    text-align: center;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
  }
  
  /* Hide the number input spin buttons */
  .input-box::-webkit-inner-spin-button,
  .input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .input-box[type="number"] {
    -moz-appearance: textfield;
  }
  