
<div >
    <mat-list>
        <div mat-subheader>Items On Cart</div>
<mat-list-item *ngFor="let item of items">
    <mat-icon matListItemIcon> fastfood</mat-icon>
    <div matListItemTitle  >{{item.item_name}}</div>
    <div matListItemLine > {{item.count}} X {{item.amount | currency:'INR'}}</div>
    <div matListItemLine>  {{(item.count * item.amount) | currency:'INR'}}</div>
    <mat-divider></mat-divider>
  </mat-list-item>
  <div mat-subheader>Delivery Detail</div>
</mat-list>
</div>


<mat-divider></mat-divider>