<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card" (click)="openOption(1)">
            <img src="../../assets/images/sales.png" class="rounded-circle" alt="Cinque Terre" width="64"> 
            <div class="card-body">
                <h5 class="card-title">Sales</h5>
                <p class="card-text">Start a new Bill 
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" (click)="openOption(2)">
            <img src="../../assets/images/transaction.png" class="rounded-circle" alt="Cinque Terre" width="64"> 
            <div class="card-body">
                <h5 class="card-title">Cash Transactions</h5>
                <p class="card-text">Update Only cash Transactions for customer</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" (click)="openOption(3)">
            <img src="../../assets/images/delivery.png" class="rounded-circle" alt="Cinque Terre" width="64"> 
            <div class="card-body">
                <h5 class="card-title">Current Deliveries</h5>
                <p class="card-text">Show Pending Delivery  / Completed Status</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" (click)="openOption(4)">
            <img src="../../assets/images/support.png" class="rounded-circle" alt="Cinque Terre" width="64"> 
            <div class="card-body">
                <h5 class="card-title">Settings</h5>
                <p class="card-text">Application support and customization</p>
            </div>
        </div>
    </div>
</div>